body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #5f8bcc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calc-card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 350px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.controls {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

button {
    padding: 20px;
    font-size: 50px;
    border: none;
    border-radius: 6px;
    background-color: #4A90E2;
    color: white;
}

button:hover {
    background-color: #6d13c2;
}

#resultado-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 6px;
    font-size: 30px;
}

#res-valor {
    color: #568ec5;
    display: block;
    font-size: 100px;
    margin-top: 5px;
}